<div class="home">
    <div class="adjustNav">
      <nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
            <a class="navbar-brand logo mr-auto" href="#">Virdash</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" ></span>
            </button>
            <!-- <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
              <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="#">Report a Case</a>
              </li>
            </ul>
            </div> -->
        </div>
      </nav>
    </div>

    <dx-vector-map
    id="vector-map"
    [bounds]="[-180, 60, 180, -60]">
        <dxo-tooltip
            [enabled]="true"
            [customizeTooltip]="customizeTooltip"></dxo-tooltip>
        <dxi-layer
            [dataSource]="worldMap"
            [hoverEnabled]="false"></dxi-layer>
        <dxi-layer
            [dataSource]="markers"
            [minSize]="5"
            [maxSize]="30"
            [sizeGroups]="[1, 5, 20, 50, 100, 500, 1000, 5000, 10000, 100000, 100000000]"
            [opacity]="0.6"
            [palette]="[bubbleColor]"
            name="bubbles"
            elementType="bubble"
            dataField={{value}}>
        </dxi-layer>
    </dx-vector-map>

    <!-- <chat-widget
        botName="Vida"
        url="http://localhost:5005"
        startingMessage="Ask Vida about Coronavirus"
        theme="grey"
        opened=false>
    </chat-widget> -->


    <div class="total">
      <div class="tweets" id='tweet_scroll' *ngIf="!isLoadingData">
        <div class="tweet scrollbar" id="scrollbar_style" *ngFor="let tweet of tweetData">
          <a href="{{ tweet?.tweet_URL }}" target="_blank">
            <div class="row">
              <div class="col-2" >
                <img class='profile' src="{{ tweet?.user_imageURL }}" alt="">
              </div>
              <div class="col-10">
                {{ tweet?.username }}<br/>
                @{{ tweet?.user_handle }}<br/>
                {{ tweet?.tweet_text }}<br/>
                <img class='media' src="{{ tweet?.tweet_mediaURL }}" alt=""><br/>
              </div>
            </div>
          </a>
        </div>
      </div>
        <div class="totalValue" [style.color]="bubbleColor"><b>
          {{ totalValue }}</b></div>
        <div class="btns">
            <button class="btn btns-item confirm" (click)="renderConfirm()" [style.color]="!totalColor[0]?'#ffffff' : '#000000'">Confirmed</button>
            <div class="btn btns-item recover" (click)="renderRecover()" [style.color]="!totalColor[1]?'#ffffff' : '#000000'">Recovered</div>
            <div class="btn btns-item death" (click)="renderDeath()" [style.color]="!totalColor[2]?'#ffffff' : '#000000'">Death</div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
