<div class="home">
        <nav class="navbar navbar-expand-md fixed-top">
            <div class="container">
                <a class="navbar-brand logo" href="#">Virdash</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Report a Case</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>

    <!-- <nav class="virdash_nav"> -->
        <!-- <div class="container"> -->
            <!-- <a class="logo" href="#">Virdash</a> -->
            <!-- <div class="collapse navbar-collapse" id="collapsibleNavId"> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </nav> -->

    <dx-vector-map 
    id="vector-map" 
    [bounds]="[-180, 60, 180, -60]">
        <dxo-tooltip 
            [enabled]="true" 
            [customizeTooltip]="customizeTooltip"></dxo-tooltip>
        <dxi-layer 
            [dataSource]="worldMap" 
            [hoverEnabled]="false"></dxi-layer>
        <dxi-layer 
            [dataSource]="markers"
            [minSize]="5"
            [maxSize]="30"
            [sizeGroups]="[1, 5, 20, 50, 100, 500, 1000, 5000, 10000, 100000, 100000000]"
            [opacity]="0.6"
            [palette]="['#fc9107']"
            name="bubbles"
            elementType="bubble"
            dataField="value">
        </dxi-layer>
    </dx-vector-map>
    
    <chat-widget 
        botName="Vida" 
        url="http://localhost:5005"
        startingMessage="Ask Vida about Coronavirus"
        theme="grey"
        opened=false>
    </chat-widget>

    <div class="total">
        <div class="totalValue">{{ totalConfirm }}</div>
        <div class="btns">
            <div class="btns-item confirm">Confirmed</div>
            <div class="btns-item recover">Recovered</div>
            <div class="btns-item death">Death</div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>