body{
    margin: 0;
    background-color: #2a2a2a;
}
::ng-deep #vector-map {
    height: 100vh;
}

.home{
    height: 100vh;

    nav{
      width: 70%;
      display: flex;
      margin-left: 86px;

      a{
        color: #00acee;
      }
      a.logo{
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
        font-weight: 700;
        color: #00acee;
      }
    }

    .total{
        margin: -14rem auto 0 5rem;
        width: 20rem;
        position: fixed;
        z-index: 998;
        bottom: 20px;

        /* width */
        #tweet_scroll::-webkit-scrollbar {
          width: 5px;
        }

        /* Track */
        #tweet_scroll::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px grey;
          border-radius: 5px;
        }

        /* Handle */
        #tweet_scroll::-webkit-scrollbar-thumb {
          background: #00acee;
          border-radius: 10px;
        }

        /* Handle on hover */
        #tweet_scroll::-webkit-scrollbar-thumb:hover {
          background: #00acee;
        }

        .tweets{
          height: 14rem;
          font-size: 15px;
          overflow-x: hidden;

          a{
            text-decoration: none;
            color: white;
          }

          img.profile{
            border-radius: 50%;
          }

          img.media{
            width: 100%;
          }
        }

        .totalValue{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fc9107;
            font-size: 3rem;
            height: 5rem;
            border: 2px solid #00acee;
            background-color: rgba(0, 0, 0, 0.3);
        }
        .btns{
            display: flex;
            justify-content: space-evenly;
        }
        .btns-item{
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2rem;
            width: 100%;
        }
        .btns-item:hover{
            color: white;
        }
        .confirm{
            background-color: #fc9107;
        }
        .recover{
            background-color: #05BD00;
        }
        .death{
            background-color: #F90000;
        }
    }
}

@media(max-width: 650px){
  .home{
    nav{
      a.logo{
          font-size: 30px;
      }
    }

    .total{
      margin: -4rem auto 0 1rem;
      width: 10rem;

      .totalValue{
          font-size: 1.8rem;
          height: 3rem;
      }
      .btns-item{
          font-size: 0.65rem;
          height: 1rem;
      }
    }
  }
}

// @media(max-width: 850px){
//   .home{
//     nav{
//       a.logo{
//           font-size: 50px;
//       }
//     }

//     .total{
//       margin: -5rem auto 0 2rem;
//       width: 15rem;

//       .totalValue{
//           font-size: 2.2rem;
//           height: 3.5rem;
//       }
//       .btns-item{
//           font-size: 1rem;
//           height: 1.5rem;
//       }
//     }
//   }
// }
